<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
</head>
<body>
    <h1>Nossos Livros</h1>
    <div>
        <% livros.forEach(function(livro){ %>
            <%= livro.titulo %> por <%= livro.autor %> <br>
        <% }) %>
    </div>
</body>
</html>