<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <form action="/cadastrarProd" method="post">
            <label for="nome">Nome:</label><br>
            <input type="text" name="nome" id="nome"><br>
            <label for="preco">Preço:</label><br>
            <input type="text" name="preco" id="preco"><br>
            <label for="id">ID:</label><br>
            <input type="text" name="id" id="id"><br><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>