<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Produto</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h2>Você tem certeza que deseja excluir o produto <%= produto.nome %>?</h2>
        <form action="/deletarProd/<%= produto.id %>" method="post">
            <input type="submit" value="Confirmar Exclusão">
        </form>
    </div>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>