<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <form action="/editarProd/<%= produto.id %>" method="post">
            <label for="nome">Nome:</label><br>
            <input type="text" name="nome" id="nome" value="<%= produto.nome %>" required><br>
            <label for="preco">Preço:</label><br>
            <input type="text" name="preco" id="preco" value="<%= produto.preco %>" required><br>
            <label for="preco">Caminho da imagem:</label><br>
            <input type="text" name="img" id="img" value="<%= produto.img %>" required><br><br>
            <input type="submit" value="Salvar Alterações">
        </form>
    </div>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>
