<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <form action="/processar" method="post" enctype="application/x-www-form-urlencoded">
            <label for="usuario">Usuário:</label><br>
            <input type="text" name="usuario" id="usuario"><br>
            <label for="senha">Senha:</label><br>
            <input type="password" name="senha" id="senha"><br><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>