<html>
    <head>
        <title>Gerenciamento</title>
    </head>
    <body>
        <h1>Talvez agorá vá</h1>
        <button><a href="/cadastrar">Cadastrar</a></button>
        <button><a href="/deletarProd">Deletar</a></button>
        <button><a href="/editarProd">Editar</a></button>
    </body>
</html>