<html>
    <head>
        <title>Página Inicial</title>
    </head>
    <body>
        <h1>Bem vindo a Cafeteria</h1>
        <p>Essa joça não funciona para nada (ainda)</p>
        <button><a href="/cardapio">Cardápio</a></button>
        <button><a href="/biblioteca">Biblioteca</a></button>
    </body>
</html>