#entrar, #gerenciar, .cadastrarProd, #editar, #deletar{
    text-align: center;
    color: white;
    background: rgb(1,0,11);
    background: linear-gradient(0deg, rgba(1,0,11,1) 0%, rgba(189,18,49,1) 50%, rgba(1,0,11,1) 100%);
    background-size: cover;
    padding: 10%;
    font-family: Gotham;
}

#demogorgo{
    height: 150px;
}

input[type="password"], input[type="text"]{
    border-radius: 20px;
    padding: 3px;
    background-color: white;
    padding-left: 12px;
    color: black;
}

#linkInicio{
    color: white;
    font-size: 13px;
}

#botaoEnviar, .opcoesGerenciar button, .cadastrarProd input[type="submit"], .botaoBranco{
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#paginaInicial{
    background-color: black;
    font-family: Gotham;
    background-image: url("../media/FundoInicio2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: red;
    --bs-btn-border-color: red;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: rgb(215, 11, 11);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    border-radius: 10px;
    margin-top: 30px;
    width: 50%;
    white-space: normal;
}

.botaoPreto{
    --bs-btn-color: #fff;
    --bs-btn-bg: black;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: black;
    border-radius: 10px;
    margin-top: 30px;
    width: 50%;
    white-space: normal;
}

#paginaInicial img{
    width: auto;
    height: auto;
    max-height: 80%;
}

audio::-webkit-media-controls-panel{
    background-color: black;
}

.mesmo-tamanho{
    width: 15%;
    white-space: normal;
}

.musica{
    background-color: black;
    color: white;
    border: none
}